@charset "UTF-8";

.mainHeader {
	text-align:right;
	margin-right: 1%;
	margin-top: 1%;
	}

.topNav {
	display: flex;
}

.base {
	text-align: center;
}

.baseButton {
	border-radius: 10%;
}

.feedTable {
	width: 60%;
	margin: auto;
	text-align: center;
}

.storeTable {
	width: 60%;
	margin: auto;
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.kakao {
	width: 250px;
	border: white;
	background-color: white;
}

.naver {
	width: 250px;
	border: white;
	background-color: white;
}

.social {
	height: 48px;
	width: 250px;
}

.imgDetail {
	width: 700px;
	height: 500px;
}


.location {
	margin: 0 auto;
	margin-top: 3%;
}
	

.box2 {
	text-align:left;
	padding-left : 20%;
	padding-top: 5%;
	margin-left: 20%;
	}
	

	
.bt {
	margin-top : 5%;
}

.list {
	display: inline;
}

td{
	padding: 10px;
}
.list_list {
	list-style : none;
	text-align:center;
}

.tb {
	padding-left: 20%;
}

.tb {
	padding: 5%;
	padding: 15px;
	margin: auto;

}